<section class="focus" data-index="{{@index}}">
	<div class="focus__bg" style="background-image: url({{background}})">
		<div class="focus__bg-overlay">
			<div class="focus__nav">
				<i class="focus__nav-icon fa fa-angle-double-left"></i>
				<span class="focus__nav-text ">BACK</span>
			</div>
			<div class="focus__bg-content">
				<h2 class="focus__name">{{name}}</h2>
				<h5 class="focus__role">{{role}}</h5>
			</div>
		</div>
	</div>
	<div class="focus__container">
		<div class="markdown">
		{{{content}}}
		</div>
	</div>
</section>
